/* External CSS */

body{
  background-color:  #e0fcfc   ;
}
hr{border-top: 2px solid  #120982 ;border-bottom: none}
p{
  color:
#9d0f70;
}



table{ color: #0818b2 }

ul{ color:#9d0f70;
 }
a{ color:black;}
